
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderAction("PartialHeader", "Home");
}
<div class="heading">
    <h3>order success</h3>
</div>
<br />
<a href="/"><h2><i class="fa-thin fa-angles-left">Back to home page</i></h2></a>
