
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    <div>
        <h2>Access Denied</h2>
        <a href="/Admin/Account/Login">Login</a>
    </div>
</body>
</html>
